/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles */
@font-face {
    font-family: "Raleway Light";
    src: url(../fonts/raleway-light.ttf);
}

@font-face {
    font-family: "Raleway SemiBold";
    src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
    font-family: "Raleway ExtraLightItalic";
    src: url(../fonts/raleway-extralightitalic.ttf);
}

/******************************* BOUNCE ******************************/
@-webkit-keyframes bounce {
  0%,20%,55%,80%,to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%,45% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes bounce {
  0%,20%,55%,80%,to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%,45% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  90% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
/****************************************************************************/
body {
    font-family: "Raleway Light", sans-serif;
    background-color: #f1f1f1;
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 1rem;
}

nav {
    width: 100%;
    height: 45px;
    padding-top: 20px;
    border-bottom: 1px solid #fff;
}

nav div {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway SemiBold", sans-serif;
}

.left-nav {
    width: 255px;
    margin-left: 20px;

}

.left-nav span {
    position: relative;
    top: -6px;
    left: 15px;
}

.menu, .search {
    height: 25px;

}

.search {
    display: none;
}



.search {
    margin-left: 35px;
}

.right-nav {
    width: 650px;
    float: right;
    margin-right: 15px;
}

.right-nav ul li {
    display: inline-block;
    margin-left: 13px;
}

ul li a, ul li a:active {
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    text-decoration: underline;
}

.right-nav ul, .sign-up {
    display: inline-block;
    position: relative;
    top: -3px;
}

.sign-up {
    text-transform: uppercase;
    color: #fff;
    font-family: "Raleway SemiBold", sans-serif;
    border: 1px solid #c1b5ae;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 1em;
    background-color: rgba(213, 201, 195, 0.25);
    margin-left: 39px;
}

<<<<<<< HEAD
.sign-up:hover, .register:hover, .more:hover, .next:hover {
=======
.sign-up:hover {
    color: #ccbdb5;
    background-color: white;
    transition: ease .3s;
}

.logo:hover, .sign-up:hover, .register:hover, .more:hover, .next:hover, .left-nav *:hover {
>>>>>>> origin/master
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 14vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.titles {
    position: absolute;
    top: 31vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    line-height: 1.3;
}

.titles h1 {
    font-size: 2.3em;
    font-family: "Raleway SemiBold", sans-serif;
}

.titles h2 {
    font-size: 1.75em;
    font-family: "Raleway ExtraLightItalic", sans-serif;
    margin-top: 2px;
}

.next {
    position: absolute;
    top: 91vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
    padding: 20px;
}

.next:hover{
  animation: bounce 0.8s ease alternate;
}

.register, .more {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Raleway SemiBold", sans-serif;
    color: #fff;
    font-size: 1em;
    outline: none;
}

.header-btn {
    position: absolute;
    top: 75vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 350px;
    text-align: center;
}

.register {
    padding: 13px 17px;
    background: #ca437c;
    background: -moz-linear-gradient(top, #ca437c 0%, #e7424a 100%);
    background: -webkit-linear-gradient(top, #ca437c 0%, #e7424a 100%);
    background: linear-gradient(to bottom, #ca437c 0%, #e7424a 100%);
    border: 0;
}

.register:hover {
    background: -moz-linear-gradient(top, #e7424a 0%, #ca437c 100%);
    background: -webkit-linear-gradient(top, #e7424a 0%, #ca437c 100%);
    background: linear-gradient(to bottom, #e7424a 0%, #ca437c 100%);
    border: 0;
}

.more {
    padding: 13px 0 6px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #fff;
    margin-left: 25px;
}

section {
    text-align: center;
    font-size: 1rem;
}

#project {
    padding: 45px 0;
}

h3 {
    font-size: 1.8em;
    font-family: "Raleway SemiBold", sans-serif;
    text-transform: uppercase;
}

h4 {
    font-size: .8em;
    color: #423936;
    line-height: 1.5;
    margin-top: 7px;
}

h5{
    color: #d1436f;
    font-family: "Raleway SemiBold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pink-hr {
    width: 75px;
    border: 0;
    border-bottom: 1px solid #c9437d;
    margin-top: 13px;
}

.book {
    width: 75px;
    margin-top: 16px;
}

.text {
    text-align: justify;
    display: inline-block;
    font-size: .9em;
    line-height: 1.7;
    color: #564c49;
    margin-top: 1px;
}

#project .text {
    margin-top: 16px;
    width: 45vw;
    line-height: 1.8;
}

#application {
    height: 375px;
    background-image: url("../../assets/img/appbg.png");
}

#application > * {
    display: inline-block;
}

.android {
    height: 500px;
    left: 9vw;
    margin-top: -109px;
    z-index: 1;
    position: absolute;
}

.iphone {
    height: 350px;
    z-index: 0;
    left: 27vw;
    margin-top: 16px;
    position: absolute;
}

#application div {
<<<<<<< HEAD
    position: relative;
    left: 15vw;
    margin-top: 55px;
=======
    margin-top: 5%;
>>>>>>> origin/master
    text-align: left;
    margin-left: 11%;
    width: 26.9vw;
}

#application div h3 {
    padding-bottom: 5px;
}

.btnAppli{
  margin: auto;
  vertical-align: baseline;
  width: 100%;
  padding-bottom: 4%;
}

.application-more {
  position: relative;
  width: 10.3em;
  vertical-align: bottom;
}

.google-play {
  position: relative;
  width: 5em;
  height: 4em;
  cursor: pointer;
  vertical-align: bottom;
}

.app-store {
  position: relative;
  width: 5.7em;
  cursor: pointer;
  vertical-align: bottom;
}
#advantages li {
    position: absolute;
}
#advantages{
<<<<<<< HEAD
    margin-top: 61px;
=======
    margin-top: 40px;
    height: 500px;
>>>>>>> origin/master
}

.advantages-logo {
    height: 93px;
    margin-top: 32px;
}

.simplicity-text {
    left:3vw;
}

#advantages ul{
    margin-left: 4%;
}

#advantages li {
    margin: 41px;
    width: 26%
}

.community-text{
    left: 34%;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

.intuitive-text {
    right: 3vw;
}

.advantages-text {
    margin-top: 40px;
}

#booksellers{
    margin-top: 2%;
    padding: 4%;
    background-image: url("../../assets/img/appbg.png");
    height: 400px;
}

#booksellers div{
    margin-top: 2%;
}

#booksellers h3{
    color: #d1436f;
}

.unslider-nav{
    display: none;
}

.unslider-arrow.next{
    top: inherit;
}

.whiterec{
    display: inline-block;
    background-color: white;
    width: 50%;
    padding: 2rem;
    line-height: 2rem;
    text-align: justify;
}

.annaimg{
    display: inline-block;
    width: 12%;
    height: 12%;
    margin: 35px 0 0 14%;
    float: left;
}

.pinkanna{
    color: #d1436f;
}

.unslider-arrow{
    color: #dc88a2;
    margin-top: 4%;
    font-size: 6em;
    font-weight: 900;
}

@media (max-width: 1025px) {

    .advantages-text li .text {
        width: 23vw;
    }
}

@media (max-width: 650px) {

    .right-nav{
        position: relative;
        display: block;
        visibility: hidden;
        float: left;
        height: 300px;
        line-height: 3rem;
        width: 35%;
        margin-top: 20px;
        background-color: #2c3438;
        padding: 5px;
        z-index: 2;
    }

    .right-nav ul{
        position: absolute;
    }

    .right-nav li{
        margin-top: 10px;
    }

    .sign-up{
        margin-left: 5px;
        margin-top: 245px;
    }

    .left-nav:hover .right-nav{
        visibility: visible;
    }

    #project .text{
        width: 75%;
    }

    .android{
        visibility: hidden;
    }

    .iphone{
        visibility: hidden;
    }

    .text{
        width: 75%;
    }

    #advantages li{
        width: 75%;
    }

    #application div{
        width: 75%;
        display: inherit;
        margin-left: 12%;
        text-align: inherit;
    }

    .application-more{
        visibility: hidden;
    }

    .google-play, .app-store{
        visibility: hidden;
    }
}
